# Core Django
Django==5.2.7

# Django REST Framework
djangorestframework==3.16.1

# PostgreSQL Adapter (Python 3.13 compatible)
psycopg[binary]==3.2.10

# JWT Authentication
djangorestframework-simplejwt==5.5.1

# Environment variables
python-dotenv==1.1.1

# WSGI server for production
gunicorn==21.2.0

# Serve static files efficiently
whitenoise==6.5.0

# CORS headers (if frontend hosted separately)
django-cors-headers==4.9.0

# Database URL parsing
dj-database-url==2.1.0

# Optional: for easier API testing and pagination
django-filter==23.2



# --- NLP & Machine Learning ---

spacy==3.7.2
blis==0.7.9

en-core-web-sm==3.7.1
numpy==1.26.4
pydantic==2.12.3
thinc==8.2.5

# --- Utility Libraries ---
requests==2.32.3
tqdm==4.67.1
